/* Google Font import */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto:wght@100..900&display=swap");

/* Heading styles */

.heading {
    color: white;
    font-size: 3rem;
    background: linear-gradient(90deg,rgba(51, 51, 153, 1) 0%, rgba(255, 0, 204, 1) 100%);
    text-align: center;
    padding: 2rem;
    margin-bottom: 0;
}

/* main game-area */

.game-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
    background-color: red;
    margin: 0 auto;
    padding: 1%;
}

.rules-area {
    margin: 1rem 0;
}

/* Styling for text in score-area */

.score-area {
    background-color: blue;
}

.score-area p {
    color: white;
    font-size: 1.5rem;
    margin: 5px;
}

/* Game panel that holds numbers and operators */

.game-panel {
    width: 85%;
    max-width: 550px;
    margin: 0 auto;
    background-color: white;
}